DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
PORT=

# Base de Datos de Catálogos
DB_CATALOG_NAME=
DB_CATALOG_USER=
DB_CATALOG_PASSWORD=
DB_CATALOG_HOST=
DB_CATALOG_PORT=

# Contraseña para el usuario admin (seeder)
DEFAULT_ADMIN_PASSWORD=
DEFAULT_PROD_PASSWORD=